* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin: 20px auto;
}

.grid-container {
    width: 640px;
    height: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
}

.grid {
    height: 6.25%;
    width: 6.25%;
    background-color: white;
}

.control {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.color-me {
    background-color: black;
}

.size16 {
    height: calc(100%/16);
    width: calc(100%/16);
}

.size64 {
    height: calc(100%/64);
    width: calc(100%/64);
}

.size32 {
    height: calc(100%/32);
    width: calc(100%/32);
}

.size16 {
    height: calc(100%/16);
    width: calc(100%/16);
}

.size8 {
    height: calc(100%/8);
    width: calc(100%/8);
}

.size4 {
    height: calc(100%/4);
    width: calc(100%/4);
}

.size2 {
    height: calc(100%/2);
    width: calc(100%/2);
}

.size1 {
    height: calc(100%/1);
    width: calc(100%/1);
}